<!doctype html>
<html>
  <head>
    <title>Departamentos</title>
    <script src="js/bundle.js"></script>
  </head>
  <body ng-app="appModule" ng-strict-di ng-cloak>
    <div ng-controller="apartmentController">
      <div class="header">
        <h1>Departamentos</h1>
      </div>
      <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Ubicación</th>
              <th scope="col">Habitaciones</th>
              <th scope="col">Superficie</th>
              <th scope="col">Costo por noche</th>
              <th scope="col">Costo por mes</th>
            </tr>
          </thead>
          <tbody class="apartments" ng-repeat="apartment in apartments track by apartment.id">
            <tr>
              <th scope="row">{{apartment.id}}</th>
              <td>{{apartment.location}}</td>
              <td>{{apartment.rooms}}</td>
              <td>{{apartment.area}}</td>
              <td>{{apartment.rentPerDay}}</td>
              <td>{{apartment.rentPerMonth}}</td>
              <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rentModal" ng-click="selectApartment(apartment.id)">
                  Alquilar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal fade" id="rentModal" tabindex="-1" role="dialog" aria-labelledby="rentModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="rentModalLabel">Alquilar</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="username-input">Nombre de usuario</label>
                <input class="form-control" id="username-input" placeholder="Nombre de usuario" ng-model="username">
              </div>
              <div class="form-group">
                <label for="days-input">Dias</label>
                <input type="numeric" class="form-control" id="days-input" placeholder="Cantidad de dias" ng-model="days">
              </div>
              <div class="form-group">
                <label for="months-input">Meses</label>
                <input type="numeric" class="form-control" id="months-input" placeholder="Cantidad de meses" ng-model="months">
              </div>
              <div class="estimation" ng-show="estimation">
                Presupuesto: {{estimation}}
              </div>
              <div class="rent-success" ng-show="rentSuccessful">
                Alquiler almacenado con exito
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
              <button type="button" class="btn btn-primary" ng-click="estimate()">Presupuestar</button>
              <button type="button" class="btn btn-primary" ng-click="rent()">Alquilar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
